<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- FUENTE - FONT AWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- CSS PERSONALIZADO-->
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <!-- Navigation -->
    <nav class="nav-main">
      <!-- Brand -->
      <img src="img/brand.png" alt="Logo" class="nav-brand">
      
      <!-- Left Nav -->
      <ul class="nav-menu">
        <li>
          <a href="/">INICIO</a>
        </li>
        <li>
          <a href="/contactanos">CONTÁCTANOS</a>
        </li>
        <li>
          <a href="/anuevos_prods">NUEVOS PRODUCTOS</a>
        </li>
        <li>
          <a href="/aboutus">SOBRE NOSOTROS</a>
        </li>
      </ul>
    
      
    </nav>
    <hr>

    <!-- SHOWCASE -->
    <header class="showcase">
      <h2>TU PREFERENCIA</h2>
      <p>
        Conviertete en un cliente concurrente para enterarte de nuevos productos y ofertas especiales
      </p>
      <a href="#" class="btn">
        Acceder <i class="fas fa-chevron-right"></i>
      </a>
    </header>

    <!-- NEWS CARDS -->
    <div class="news-cards">
      <div>
        <img src="img/avatar2.jfif" alt="" />
        <h3>ALFRED</h3>
        <a href="https://alfred160600.github.io/Personal/">CONOCER <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/avatar2.jfif" alt="" />
        <h3>BRYAN</h3>
        <a href="https://web.facebook.com/fredybryan.venturayaipen">CONOCER <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/avatar2.jfif" alt="" />
        <h3>YASMIN</h3>
        <a href="#">CONOCER <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/avatar2.jfif" alt="" />
        <h3>ANDERSON</h3>
        <a href="https://twitter.com/Anderso16281710">CONOCER <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/avatar2.jfif" alt="" />
        <h3>DAVIS</h3>
        <a href="https://web.facebook.com/dav.leyva99">CONOCER <i class="fas fa-angle-double-right"></i></a>
      </div>
    </div>

    <!-- FOLLOWUS -->
    <section class="social">
      <p>SÍGUENOS</p>
      <div class="links">
        <a href="https://facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://pe.linkedin.com">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </section>
  </div>

  <!-- Footer Links -->
  <div class="footer-links">
    <div class="footer-container">
      <ul>
        <li>
          <a href="https://www.facebook.com/AlfredBrienoVentura">
            <h3>ALFRED BRICEÑO VENTURA</h3>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.facebook.com/dav.leyva99">
            <h3>LEYVA ARGOMEDO DAVIS JOEL</h3>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.facebook.com/yasmin.solanorodriguez">
            <h3>SOLANO RODRIGUEZ YASMIN MARILÚ</h3>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.facebook.com/profile.php?id=100008300831206">
            <h3>VARGAS QUIROZ JAMES ANDERSON JOSÉ</h3>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.facebook.com/fredybryan.venturayaipen">
            <h3>VENTURA YAIPEN FREDY BRYAN</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <h3>Copyright© MECATRÓNICA UNT 2020</h3>
  </footer>

  <!-- Scroll Reveal -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="main.js"></script>
</body>

</html>