<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
  <!-- FUENTE - FONT AWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <!-- CSS PERSONALIZADO-->
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <!-- Navigation -->
    <nav class="nav-main">
      <!-- Brand -->
      <img src="img/brand.png" alt="Logo" class="nav-brand">
      
      <!-- Left Nav -->
      <ul class="nav-menu">
        <li>
          <a href="/">INICIO</a>
        </li>
        <li>
          <a href="/contactanos">CONTÁCTANOS</a>
        </li>
        <li>
          <a href="/anuevos_prods">NUEVOS PRODUCTOS</a>
        </li>
        <li>
          <a href="/aboutus">SOBRE NOSOTROS</a>
        </li>
      </ul>
      
    </nav>
    <hr>

    <!-- SHOWCASE -->
    <header class="showcase">
      <h2>TU PREFERENCIA</h2>
      <p>
        Conviertete en un cliente concurrente para enterarte de nuevos productos y ofertas especiales
      </p>
      <a href="/pagregis" class="btn">
        Acceder <i class="fas fa-chevron-right"></i>
      </a>
    </header>

    <!-- NEWS CARDS -->
    <div class="news-cards">
      <div>
        <img src="img/abarrotes.jpg" alt="" />
        <h3>ABARROTES</h3>
        <a href="/abarrotes">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/aceites.jpeg" alt="" />
        <h3>ACEITES</h3>
        <a href="/aceites">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/cafe.jpg" alt="" />
        <h3>CAFE</h3>
        <a href="/cafes">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/conservas.jpg" alt="" />
        <h3>CONSERVAS</h3>
        <a href="/conservas">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/detergente.jpg" alt="" />
        <h3>DETERGENTES</h3>
        <a href="/detergentes">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>
    </div>

    <!-- SHOWCASE 2-->
    <section class="cards-banner-one">
      <div class="content">
        <h2>POR TI, PARA TI</h2>
        <p>
          Pensando en ti nos renovamos para brindarte una mejor experiencia
        </p>
        <a href="#" class="btn">Ir<i class="fas fa-chevron-right"></i></a>
      </div>
    </section>

    <!-- NEWS CARDS -->
    <div class="news-cards">
      <div>
        <img src="img/gourmet.png" alt="" />
        <h3>GALLETAS</h3>
        <a href="/galletas">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/leches.jpg" alt="" />
        <h3>LECHES</h3>
        <a href="/leches">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/pastas.jpg" alt="" />
        <h3>PASTAS</h3>
        <a href="/pastas">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/papelh.jpg" alt="" />
        <h3>PAPEL HIGIÉNICO</h3>
        <a href="/papelh">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>

      <div>
        <img src="img/shampoos.jpg" alt="" />
        <h3>SHAMPOO</h3>
        <a href="/shanpoos">Ir <i class="fas fa-angle-double-right"></i></a>
      </div>
    </div>

    <!-- SHOWCASE 3-->
    <section class="cards-banner-two">
      <div class="content">
        <h2>NOTICIAS RECIENTES</h2>
        <p>
          Es importante que estés informado, entérate de las últimas noticias nacionales
        </p>
        <a href="https://larepublica.pe/" class="btn">Vamos <i class="fas fa-chevron-right"></i></a>
      </div>
    </section>

    <!-- FOLLOWUS -->
    <section class="social">
      <p>SÍGUENOS</p>
      <div class="links">
        <a href="https://facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://pe.linkedin.com">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </section>
  </div>

  <!-- Footer Links -->
  <div class="footer-links">
    <div class="footer-container">
      <ul>
        <li>
          <a href="https://www.facebook.com/AlfredBrienoVentura">
            <h3>ALFRED BRICEÑO VENTURA</h3>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.facebook.com/dav.leyva99">
            <h3>LEYVA ARGOMEDO DAVIS JOEL</h3>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.facebook.com/yasmin.solanorodriguez">
            <h3>SOLANO RODRIGUEZ YASMIN MARILÚ</h3>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.facebook.com/profile.php?id=100008300831206">
            <h3>VARGAS QUIROZ JAMES ANDERSON JOSÉ</h3>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://www.facebook.com/fredybryan.venturayaipen">
            <h3>VENTURA YAIPEN FREDY BRYAN</h3>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <h3>Copyright© MECATRÓNICA UNT 2020</h3>
  </footer>

  <!-- Scroll Reveal -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="main.js"></script>
</body>

</html>